// Place all the styles related to the cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 50px;
}
.actions {
  float: right;
}
.image-index {
  padding-right: 20px;
}

li img {
  width: 50px;
}
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: none;
}

.form-errors {
  font-size: 20px;
  color: red;
}

.date-field {
  font-size: 20px;
}
.name-field {
  font-size: 20px;
}

.submit-button {
  color: green;
  font-size: 200px;
}

ul {
  list-style: none;
  margin-left: -40px;
}


